@model IEnumerable<Gestion_de_inventario_PI.Models.sales_details>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sale.payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unit_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subtotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sale.payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unit_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subtotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_detail }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_detail }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_detail })
        </td>
    </tr>
}

</table>
